::ng-deep body {
    background-image: url("https://s2-g1.glbimg.com/b186jw5kQ0T6H49_IIVwQ1sHkZk=/0x0:1900x1200/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/8/Y/CzOrzaS86L4ENIbEcAOg/campanha-agasalho-sesc-pr-drive-thru.jpg");;
    background-repeat: no-repeat;
    background-size: cover;
}
